/* ------------------------------- 
           PAGE BODY
------------------------------- */

body {
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgb(8, 24, 58);
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header {
    border-bottom: 3px solid #fff;
}

.activate {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background-color: rgb(19, 55, 133);
    color: #fff;
}

#sidebar ul .active {
    background-color: rgb(19, 55, 133);
    color: #fff;
}

.btn-style {
    background-color: rgb(8, 24, 58);
    color: #fff;
}

.btn-style:hover {
    color: #fff !important;
    background-color: rgb(19, 55, 133);
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/*----------------------------------------------------
    VIEW DIALOG BOX 
------------------------------------------------------*/

.dialog-box {
    width: 600px;
    height: 600px;
    background-color: white;
    position: fixed;
    left: 50%;
    top: -50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.withdrawal {
    width: 400px !important;
    height: 200px !important;
}

.withdrawal .dialog-box-header {
    height: 30%;
}

.withdrawal .dialog-box-body {
    height: 40%;
}

.dialog-box-header {
    height: 10%;
    text-align: center;
    background-color: rgb(8, 24, 58);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 20px
}

.dialog-box h2 {
    font-size: 22px !important;
}

.dialog-box-body {
    height: 80%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.dialog-box-footer {
    height: 10%;
    text-align: center;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dialog-box-footer button {
    padding: 5px 30px;
    margin: 20px;
    border-radius: 3px;
    border-style: none;
    background-color: rgb(8, 24, 58);
    color: #fff;
}

.dialog-box-footer button:active {
    transform: translateY(5px);
    outline: none;
}

.freeze-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: none;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    .activate {
        margin-left: 0px !important;
    }
    .dialog-box {
        width: 400px;
        height: 600px;
        background-color: white;
        position: fixed;
    }
    .dialog-box-header {
        height: 15%;
    }
}