/* ------------------------------- 
           PAGE BODY
------------------------------- */

body {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    overflow-x: hidden;
}


/* -------------------------------
            HEADER
------------------------------- */

header {
    height: 80vh;
    background: url("../images/header-bg.jpg") center/cover no-repeat;
}

.header-logo img {
    width: 40px;
}

nav button .icon {
    color: white;
}

.navbar {
    background-color: rgba(8, 24, 58, 0.6) !important;
}

nav .navbar-nav .nav-link {
    color: white !important;
    padding: 10px 20px !important;
    font-size: 14px;
}

nav .navbar-nav .nav-link:hover {
    border-bottom: 2px solid white;
}

.site-description-text {
    color: white;
    margin: 100px 0px !important;
    background-color: rgba(8, 24, 58, 0.6);
    padding: 10px;
}

.active {
    border-bottom: 2px solid white !important;
}

.active:hover {
    border: 0 !important;
}


/* ------------------------------- 
            SITE BODY
 ------------------------------- */

.site-body {
    padding: 0 30px;
}

.info,
.withdrawal,
.profile {
    background-color: rgb(253, 250, 250);
}

.site-body p {
    color: grey;
    font-size: 17px;
    text-align: justify !important;
}

.card-header {
    background-color: rgba(8, 24, 58, 1);
    color: white;
}

.faq {
    background: url("../images/side.jpg")center/cover fixed no-repeat;
    height: 65vh;
}

.login {
    border-radius: 20px;
}

.dashboard .icon {
    color: #fff;
}

.dashboard {
    background-color: rgb(253, 250, 250);
}

.status {
    background-color: rgb(224, 46, 46);
    color: white;
}

.text {
    color: rgba(8, 24, 58, 1);
}

.main {
    background-color: rgba(8, 24, 58, 1) !important;
}

.bg-color {
    background-color: rgba(8, 24, 58, 1) !important;
    color: #ffffff;
}

.btn-style {
    background-color: #fff;
    color: rgba(8, 24, 58, 1);
}

.btn-sub {
    background-color: rgba(8, 24, 58, 1);
    color: #fff;
}

.btn-advert {
    background-color: rgba(8, 24, 58, 1);
    color: #fff;
    border-radius: 30px;
}

.advert {
    background: url("../images/advert.png") center/cover;
    padding: 50px 0;
}

.btn-sub:hover,
.btn-advert:hover {
    color: #fff;
    background-color: rgb(13, 48, 119);
}

.bg-style {
    background-color: whitesmoke;
    color: rgba(8, 24, 58, 1);
}

.btn-style:hover {
    background-color: whitesmoke;
    color: rgba(8, 24, 58, 1);
}

.table-color {
    background-color: rgb(13, 48, 119) !important;
    color: #ffffff;
}


/* -------------------------------
            BUTTONS
 ------------------------------- */

.card-footer button,
.dashboard button {
    background-color: rgba(8, 24, 58, 1);
    color: white;
}

.card-footer button:hover {
    color: white;
    background-color: rgb(13, 48, 119);
}

.dashboard button:hover {
    background-color: #fff;
    color: rgba(8, 24, 58, 1);
}

.dashboard button {
    background-color: #fff;
    color: rgba(8, 24, 58, 1);
}


/* -------------------------------
            FORMS
------------------------------- */

.contact input,
.contact textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
    ;
}

.contact input:focus,
.contact textarea:focus {
    outline: none !important;
}

form button,
.login .card-title,
.login .card-footer {
    background: rgba(8, 24, 58, 1) !important;
    color: white;
}

.login input,
.withdrawal input,
.login select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
}

.login input:active {
    outline: none !important;
}


/* ------------------------------- 
            MEDIAQUERIES
-----------------------------------*/

@media (max-width: 800px) {
    nav .navbar-nav .nav-link:hover,
    .active,
    .active:hover {
        border: 0 !important;
    }
}